*.o
*.swp
*.swo
build/
build*/
CMakeLists.txt.user*
CMakeFiles/
code/cpp/distrib_copy/build/*
code/cpp/distrib_copy/CMakeLists.txt.user
code/cpp/mosaic_spacing/build/*
code/cpp/mosaic_spacing_gpu/build/*
cudawrite*.txt
code/cpp/build-*
code/cpp/sunlight_sim/build*
*.pyc
cmake-build*
.idea

test_binary_readwrite/main
test_binary_readwrite/main_read
